<html>
  <header>
    <title>Game of Life</title>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <script src="main.js"></script>
  </header>
  <body>
    <div class="header">
      Conway's game of life
    </div>
    <div class="about">

    </div>
    {{#projects}}
    <div class="projects">
      <div class="project-title">
        {{title}} : {{version}}
      </div>
      <div class="logo">
        <a href="{{url}}">
          {{{logo}}}
        </a>
      </div>
      <div class="">

      </div>
    </div>
    {{/projects}}
  </body>
</html>
