body, button {
  font-family: 'VT323', monospace;
  font-size: 20px;
}
.grid {
  display: grid;
  grid-template-rows: repeat(100,1fr);
  grid-template-columns: repeat(100,1fr);
  height:900px;
  width:900px;
  background-color: black;
  float:left;
  margin:10px;
}

/*.cell {
  border: 1px black solid;
}*/
.cell:hover {
  cursor:pointer;
  box-shadow: 0px 0px 5px 2px rgb(157,220,21);
}

#fps:before{
  content: 'fps: ';
}

#avgfps:before {
  content: 'average fps:';
}

#steps:before{
  content: 'steps: ';
}

.controls {
  padding-top: 30px;
}

[age]{
  background-color: rgb(202,32,77);
}

[age="0"]{
  background-color: black;
}

[age="1"]{
  background-color: rgb(157,220,21);
}

[age="2"]{
  background-color: rgb(255,213,57);
}

[age="3"]{
  background-color: rgb(245,143,32);
}

button {
  border: none;
  text-transform: uppercase;
  padding: 10px;
  background-color: rgb(157,220,21);
}

button:hover{
  cursor: pointer;
  background-color: rgb(255,213,57);
}

button:disabled{
  cursor: not-allowed;
  background-color: rgb(245,143,32);
}
